.todo{
    border: 2px solid rgb(186, 161, 33);
    border-radius: 13px;
    display: flex;
    margin-top: 3px;
    height: 60px;
    margin: 5px;;
}

.todo > .item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 680px;
}

.margin {
     padding-left: 12px;
}
.todo > .item> p{
    font-size: 20px;
}
.delete-todo{
    display: flex;
    padding-right: 3px;
    /* border: 2px solid red; */
    align-items: center;
}
.delete-todo :hover{
    cursor: pointer;
    background-color: rgb(122, 122, 224);;
}